<nav class="navbar navbar-expand-lg main-navbar  ">
    <img src="https://i.imgur.com/nc384TD.png" alt="Logo Recomece" width="95px" height="95px" class="img-fluid " >
    <form class="form-inline text-aling: right">

    </form>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
        </ul>
        <form class="form-inline">
            <div class="form-group  mx-2">
                <label for="inputPassword2" class="sr-only">Seu email</label>
                <input type="password" class="form-control  mx-2" id="inputPassword2" placeholder="Seu email">
                <label for="inputPassword2" class="sr-only">Senha</label>
                <input type="password" class="form-control  mx-2" id="inputPassword2" placeholder="Senha">
            </div>
            <button class="btn btn-outline-secondary bt-color mx-2" type="button">Entrar</button>
            <button class="btn btn-outline-secondary bt-color mx-2" type="button">Cadastre-se!</button>
        </form>

    </div>



</nav>
<!--Fim NavBar-->

<!--Carrosel-inicio-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://i.imgur.com/z4rxyg2.jpg" alt="Primeiro Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://i.imgur.com/n8Aor24.png" alt="Segundo Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://i.imgur.com/LB3QNdY.png" alt="Terceiro Slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>
<!--Carrosel-fim-->

<!--Inicio Intro-->

<div class="jumbotron retangulo">
    <p class="display-4 font-italic font-weight-bold text-dark">Ambiente de Integração para o seu Desenvolvimento!
    </p>
    <p class="lead text-dark text2"> Para você mulher que decidiu reescrever as linhas do seu destino, faça parte da
        nossa comunidade feminina.</p>
    <img src="https://i.imgur.com/GQzzLEd.png" alt="Mulheres com bandeira Recomece" width="850px" height="1000px"
        class="img-fluid  float-sm-right">
</div>
<!--Fim Intro-->

<!--jumbotron sobre inicio-->


<section id="sobre">
    <div class="col-md-12 ">
        <img src="https://i.imgur.com/d98QTsi.png" alt="Logo Recomece" class="img-fluid retangulo2">
        <div class="jumbotron sobre bg-white ">

        </div>

        <div class="row align-items-center w-100">

            <div class="col-md-6">
            </div>

            <div class="col-md-6 ">
                <h1 class="d-flex justify-content-center font-italic display-4 mb-4 p-3 text-center">A iniciativa...
                </h1>

                <p class="font-weight-light text-justify altera-fontes col-md-12 fonte">
                    Verificamos no nosso dia a dia a ausência de mulheres no mercado da tecnologia, e com a crescente
                    dedicação
                    para a inclusão delas, visamos no projeto atingir alguns Objetivos de Desenvolvimento Sustentável da
                    ONU
                    para 2030.

                </p>

                <p class="font-weight-light text-justify altera-fontes col-md-12 fonte">
                    Para que se saiba, são eles: Educação de Qualidade; Redução das desigualdades (o que talvez também
                    promova
                    uma Igualdade de Gênero) e Emprego Digno e Crescimento Econômico.

                </p>

                <p class="font-weight-light text-justify altera-fontes col-md-12 fonte">
                    Desenvolvemos essa rede, dando um suporte, para que haja um melhor engajamento e diversidade dentro
                    do mercado; revelando oportunidades, eventos ou qualquer atividade que prepare as habilidades do
                    usuário para ingressar no mercado.
                    O Recomece nasceu em um momento em que surgiu um termo inerente às mulheres: feminicídios.
                </p>
                <p class="font-weight-light text-justify altera-fontes col-md-12  fonte">
                    Dada as estatísticas, não poderiamos excluir esse tema mais delicado nos nossos assuntos, para que
                    você se
                    sinta confortável e plena na tomada das suas decisões.
                </p>


            </div>
        </div>
    </div>

</section>
<!--jumbotron sobre fim-->
